In [2]:
import pandas as pd
import numpy as np

In [6]:
years =np.arange(2015,2019,1)
files = ['all', 'rem15', 'srem15', 'brem15']
for year in years:
    for file in files:
        if file == 'srem15':
            file_name = 'S'+str(year)+'rem15.csv'
        elif file == 'brem15':
            file_name = 'B'+str(year)+'rem15.csv'

        else:
            file_name = str(year)+file+'.csv'
        data = pd.read_csv(file_name, header=0,sep=',')
        print(data.head())
        print(len(data))

   userId  movieId  rating   timestamp
0      64        1     4.0  1434644429
1      64      161     3.5  1434644734
2      64      260     5.0  1434644506
3      64      318     5.0  1434644499
4      64      356     5.0  1434644415
754708
   userId  movieId  rating   timestamp
0      64   109487     5.0  1434644557
1      64   116797     3.0  1434644559
2      64   112556     4.0  1434644566
3      64   115617     4.0  1434644574
4      64    68954     5.0  1434644597
666088
   userId  movieId  rating   timestamp
0      64      356     5.0  1434644415
1      64      480     4.0  1434644420
2      64        1     4.0  1434644429
3      64    50872     5.0  1434644473
4      64      527     5.0  1434644501
666088
   userId  movieId  rating   timestamp
0      64      356     5.0  1434644415
1      64      480     4.0  1434644420
2      64     2571     5.0  1434644423
3      64     1270     3.0  1434644425
4      64        1     4.0  1434644429
666088
   userId  movieId  rating   timestamp
0      19        2     3.5  1445286613
1      19       44     2.0  1454709124
2      19       48     1.5  1450544698
3      19      110     3.0  1445286416
4      19      123     4.5  1466930189
1103526
   userId  movieId  rating   timestamp
0      19    92259     3.5  1445258894
1      19     3462     4.0  1445258906
2      19     5618     5.0  1445258954
3      19     4973     3.0  1445258959
4      19     5971     5.0  1445258961
1002711
   userId  movieId  rating   timestamp
0      19      858     5.0  1445258693
1      19    58559     2.5  1445258697
2      19     1196     4.0  1445258728
3      19     2571     4.0  1445258734
4      19     5952     5.0  1445258747
1002711
   userId  movieId  rating   timestamp
0      19      858     5.0  1445258693
1      19    58559     2.5  1445258697
2      19     1196     4.0  1445258728
3      19     2571     4.0  1445258734
4      19     5952     5.0  1445258747
1002711
   userId  movieId  rating   timestamp
0      30      377     1.5  1488511608
1      30      410     4.5  1488511992
2      30      500     4.0  1488511221
3      30     1080     4.0  1488511559
4      30     1136     4.5  1488510932
1133298
   userId  movieId  rating   timestamp
0      30      500     4.0  1488511221
1      30     4995     3.0  1488511227
2      30    73017     3.0  1488511304
3      30    91542     3.0  1488511305
4      30    33794     2.5  1488511425
1039458
   userId  movieId  rating   timestamp
0      30     1291     3.5  1488510832
1      30     4027     5.0  1488510891
2      30     1197     5.0  1488510902
3      30     1580     5.0  1488510911
4      30     5459     3.5  1488510917
1039458
   userId  movieId  rating   timestamp
0      30     1291     3.5  1488510832
1      30     1198     3.5  1488510833
2      30     4027     5.0  1488510891
3      30     1197     5.0  1488510902
4      30     1580     5.0  1488510911
1039458
   userId  movieId  rating   timestamp
0      75        1     5.0  1537207651
1      75        5     4.0  1537348819
2      75        6     3.0  1537208125
3      75       17     4.5  1537208282
4      75       39     3.0  1537348599
1235059
   userId  movieId  rating   timestamp
0      75     4993     4.5  1537207705
1      75     2858     3.5  1537207715
2      75      457     4.0  1537207731
3      75     1270     5.0  1537207738
4      75     7153     4.5  1537207751
1146154
   userId  movieId  rating   timestamp
0      75      318     5.0  1537207452
1      75      356     2.0  1537207492
2      75      296     3.0  1537207507
3      75      593     3.5  1537207528
4      75     2571     4.0  1537207535
1146154
   userId  movieId  rating   timestamp
0      75      318     5.0  1537207452
1      75      356     2.0  1537207492
2      75      296     3.0  1537207507
3      75      593     3.5  1537207528
4      75     2571     4.0  1537207535
1146154

In [5]:
(1103526 - 1002711)/15

6721.0

In [32]:
year = 2015
file = 'all'
file_name = str(year)+file+'.csv'
data = pd.read_csv(file_name, header=0,sep=',')

In [34]:
data = data.sort_values(by=['userId', 'timestamp']).reset_index(drop=True)

In [35]:
data[data['userId']==64]

    userId  movieId  rating   timestamp
0       64      356     5.0  1434644415
1       64      480     4.0  1434644420
2       64     2571     5.0  1434644423
3       64     1270     3.0  1434644425
4       64        1     4.0  1434644429
5       64    50872     5.0  1434644473
6       64      953     5.0  1434644489
7       64      318     5.0  1434644499
8       64      527     5.0  1434644501
9       64     7153     5.0  1434644502
10      64    79132     4.5  1434644504
11      64      260     5.0  1434644506
12      64     1198     4.0  1434644508
13      64     2959     5.0  1434644509
14      64     4993     5.0  1434644512
15      64   109487     5.0  1434644557
16      64   116797     3.0  1434644559
17      64   112556     4.0  1434644566
18      64   115617     4.0  1434644574
19      64    68954     5.0  1434644597
20      64    58559     5.0  1434644599
21      64     5952     5.0  1434644601
22      64     4226     4.5  1434644609
23      64    54286     3.5  1434644618
24      64     5418     3.5  1434644620
25      64      858     4.5  1434644623
26      64    59315     3.5  1434644629
27      64    48516     4.5  1434644635
28      64    91529     4.5  1434644643
29      64    78499     4.5  1434644649
30      64    81847     3.0  1434644660
31      64    98809     3.0  1434644667
32      64     1136     4.5  1434644674
33      64     1210     5.0  1434644678
34      64      908     3.0  1434644691
35      64    33794     4.5  1434644706
36      64     8961     4.5  1434644710
37      64     6377     4.0  1434644713
38      64    99114     4.5  1434644722
39      64      161     3.5  1434644734
40      64    80463     4.0  1434644741
41      64    66934     2.0  1434644751
42      64     6539     3.0  1434644770
43      64    79091     3.0  1434644805
44      64   109374     4.5  1434644812
45      64     1196     5.0  1434644837
46      64    60069     4.0  1434644846
47      64      551     3.0  1434644861
48      64   112852     5.0  1434644873
49      64   122882     3.5  1434644878
50      64   111759     4.0  1434644892
51      64   115569     3.5  1434644918
52      64   112290     3.0  1434644922

In [36]:
items_in = data[data['userId']==64]['movieId'].values

In [37]:
year = 2015
file = 'all'
file_name = 'S2015rem15.csv'#str(year)+file+'.csv'
data = pd.read_csv(file_name, header=0,sep=',')

In [38]:
i = 0
for item in items_in:
    if item not in data[data['userId'] == 64]['movieId'].values:
        print(i, item)
    i+=1

2 2571
3 1270
6 953
7 318
14 4993
20 58559
21 5952
25 858
26 59315
29 78499
32 1136
36 8961
37 6377
38 99114
47 551

In [16]:
data[data['userId']==64]

    userId  movieId  rating   timestamp
0       64      356     5.0  1434644415
1       64      480     4.0  1434644420
2       64        1     4.0  1434644429
3       64    50872     5.0  1434644473
4       64      527     5.0  1434644501
5       64     7153     5.0  1434644502
6       64    79132     4.5  1434644504
7       64      260     5.0  1434644506
8       64     1198     4.0  1434644508
9       64     2959     5.0  1434644509
10      64   109487     5.0  1434644557
11      64   116797     3.0  1434644559
12      64   112556     4.0  1434644566
13      64   115617     4.0  1434644574
14      64    68954     5.0  1434644597
15      64     4226     4.5  1434644609
16      64    54286     3.5  1434644618
17      64     5418     3.5  1434644620
18      64    48516     4.5  1434644635
19      64    91529     4.5  1434644643
20      64    81847     3.0  1434644660
21      64    98809     3.0  1434644667
22      64     1210     5.0  1434644678
23      64      908     3.0  1434644691
24      64    33794     4.5  1434644706
25      64      161     3.5  1434644734
26      64    80463     4.0  1434644741
27      64    66934     2.0  1434644751
28      64     6539     3.0  1434644770
29      64    79091     3.0  1434644805
30      64   109374     4.5  1434644812
31      64     1196     5.0  1434644837
32      64    60069     4.0  1434644846
33      64   112852     5.0  1434644873
34      64   122882     3.5  1434644878
35      64   111759     4.0  1434644892
36      64   115569     3.5  1434644918
37      64   112290     3.0  1434644922

In [39]:
data = pd.read_csv('SSS2015rem15.csv', header=0,sep=',')

In [40]:
data1 = pd.read_csv('SS2015rem15.csv', header=0,sep=',')

In [45]:
data[data['userId']==64]['movieId'].values == data1[data1['userId']==64]['movieId'].values

array([ True, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True,  True])

In [46]:
data

        userId  movieId  rating   timestamp
0           64      356     5.0  1434644415
1           64      480     4.0  1434644420
2           64     2571     5.0  1434644423
3           64     1270     3.0  1434644425
4           64        1     4.0  1434644429
...        ...      ...     ...         ...
666083  162538    49286     4.5  1438785469
666084  162538   102407     3.5  1438785482
666085  162538     8533     5.0  1438785506
666086  162538    93988     4.5  1438785545
666087  162538     6668     4.0  1438785622

[666088 rows x 4 columns]

In [47]:
data1

        userId  movieId  rating   timestamp
0           64      356     5.0  1434644415
1           64     2571     5.0  1434644423
2           64     1270     3.0  1434644425
3           64        1     4.0  1434644429
4           64    50872     5.0  1434644473
...        ...      ...     ...         ...
666083  162538    49286     4.5  1438785469
666084  162538   102407     3.5  1438785482
666085  162538     8533     5.0  1438785506
666086  162538    93988     4.5  1438785545
666087  162538     6668     4.0  1438785622

[666088 rows x 4 columns]